

* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
}

.cal-container {
  margin: 1rem auto;
  border: 3px solid #444;
  border-radius: 15px;
  width: fit-content;
  padding: 0.5rem;
  background: linear-gradient(to bottom, #d0d0d0, #b5b5b5);
  box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
}

.cal-screen {
  border: 2px inset #666;
  text-align: right;
  background-color: #e0ffff;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0.25rem;
  border-radius: 5px;
  min-height: 2rem;
  font-size: xx-large;
  font-weight: bold;
  box-shadow: inset 1px 1px 2px #999;
}

/* .btn {
  width: 3rem;
  height: 3rem;
  margin: 0.2rem;
  border-radius: 8px;
  border: 1px solid #333;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  transition: background 0.2s, transform 0.1s;
} */


.btn:active {
  transform: translateY(2px);
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
}

.btn-green {
  background-color: #98fb98!important;
}

.btn-red {
  background-color: #f08080!important;
}

.btn-blue {
  background-color: #add8e6!important;
}

.btn-active:hover {
  background-color: #ffff99!important;
}

.btn-active-red:hover {
  background-color: red!important;
}


.anim-container {
  margin: 10px auto;
  border: 1px solid black;
  width: fit-content;
  border-radius: 5px;
}

/* .box {
  margin: 10px;
  border: 1px solid black;
  height: 400px;
  width: 700px;
  background-image: url("https://t4.ftcdn.net/jpg/03/01/86/13/360_F_301861323_tEKMCqC9DDuRKTkGR6cLz4x4mQ4dSlDC.jpg");
  position: relative;
  overflow: hidden;
} */

.ball {
  border: 1px solid red;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}

.btn-cal {
   width: 3rem;
  height: 3rem;
  margin: 0.2rem;
  border-radius: 8px;
  border: 1px solid #333;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  transition: background 0.2s, transform 0.1s;
}

.box-new {
  margin: 10px;
  border: 1px solid black;
  height: 400px;
  width: 700px;
  background-image: url("https://t4.ftcdn.net/jpg/03/01/86/13/360_F_301861323_tEKMCqC9DDuRKTkGR6cLz4x4mQ4dSlDC.jpg");
  position: relative;
  overflow: hidden;
}